* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tilt Neon";
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(231, 23, 23, 1) 100%
  );
}

.hide{
    display: none;
}

#header-container {
  width: 100%;
  height: 450px;
  background-image: url(../img/20210319_125849_0000.png);
}

#main-card {
  width: 850px;
  height: 970px;

  margin: 0 auto;
  margin-top: -350px;
  background-color: #2e2a2a;

  border-radius: 10px;
  box-shadow: 30px 5px 5px black;

}

.darkmodel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 10px;
    color: #000000;
    font-size: 20px;
}

.container-video{
    margin: 0 auto;
    text-align: center;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

video{
    width: 700px;
    height: 400px;
}

h3{
    font-size: 22px;
    line-height: 30px;
    margin-left: 30px;
}

p{
    margin-left: 40px;
}

video{
    margin: 0 auto;
}

button {
    border: none;
   
    cursor: pointer;
}

button img{
border-radius: 50px;
}

footer{
    background-color: #000000;
    margin-top: 48px;
    height: 53px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    text-decoration: none;
    font-size: 20px;
    display: flex;
    gap: 20px;

    color: aquamarine;
    
}

footer a:hover{
    color: rgb(31, 135, 204);
    font-size: 24px;
}